<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLASS</title>
    <style>
        body{text-align: center;} 
    </style>
</head>
<body>
    <h1>Glass Project</h1>

    <div class="container">
        <div>
        <h3>홈페이지</h3>
        <a href="{%url 'read' %}">유리병</a>
        <a href="{%url 'write' %}">편지작성</a>
        <br>
        </div>
    </div>

</body>
</html>